<ion-view view-title="Dashboard">
  <ion-content class="padding">

      <div class="list card" ng-repeat="filme in filmes">

        <div class="item">
          <h2>{{ filme.title }}</h2>
        </div>

        <div class="item item-body">
          <img class="full-image" src="{{ 'https://image.tmdb.org/t/p/w300/' + filme.backdrop_path }}">
          <p>
            {{ filme.overview }}
          </p>

          <p>
            <a href="#" class="subdued">Nota: {{ filme.vote_average }}</a>
            <a href="#" class="subdued">Votos: {{ filme.vote_count }}</a>
          </p>
        </div>

      </div>

  </ion-content>
</ion-view>
